.img_cont_msg {
  height: 28px;
  width: 28px;
}

.user_img_msg {
  height: 28px;
  width: 28px;
  border: 1.5px solid #f5f6fa;
}

.user_nick {
  display: block;
  min-width: 150px;
  position: absolute;
  left: 0;
  top: -15px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 10px;
}

.msg_container {
  font-size: 12px;
  margin-top: auto;
  margin-bottom: 16px;
  margin-left: 10px;
  border-radius: 5px;
  background-color: #e8b9ff;
  color: black;
  padding: 3px 6px;
  position: relative;
}

.msg_time {
  position: absolute;
  left: 0;
  bottom: -15px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 10px;
}
