<!--
=========================================================
* Soft UI Dashboard - v1.0.7
=========================================================

* Product Page: https://www.creative-tim.com/product/soft-ui-dashboard
* Copyright 2023 Creative Tim (https://www.creative-tim.com)
* Licensed under MIT (https://www.creative-tim.com/license)
* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="apple-touch-icon" sizes="76x76" href="../img/apple-icon.png" />
  <link rel="icon" type="image/png" href="../img/favicon.png" />
  <title>Freely B 라이브 스트리밍 플랫폼</title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <!-- Nucleo Icons -->
  <link href="../css/nucleo-icons.css" rel="stylesheet" />
  <link href="../css/nucleo-svg.css" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <link href="../css/nucleo-svg.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link id="pagestyle" href="../css/soft-ui-dashboard.css?v=1.0.7" rel="stylesheet" />
  <!-- Nepcha Analytics (nepcha.com) -->
  <!-- Nepcha is a easy-to-use web analytics. No cookies and fully compliant with GDPR, CCPA and PECR. -->
  <script defer data-site="YOUR_DOMAIN_HERE" src="https://api.nepcha.com/js/nepcha-analytics.js"></script>
  <script src="https://kit.fontawesome.com/8691ffe7bb.js" crossorigin="anonymous"></script>
  <script defer src="/js/my-channel.js"></script>
</head>

<body class="g-sidenav-show bg-gray-100">
  <!-- side navbar start -->
  <%-include('includes/side-navbar.ejs') %>
  <!-- side navbar end -->
    <div class="main-content position-relative bg-gray-100 max-height-vh-100 h-100">
      <!-- header Navbar start -->
      <%-include('includes/header-navbar.ejs') %>
      <!-- header Navbar end -->
      <div class="container-fluid" style="max-width: 1200px;">
        <!-- 채널 배너이미지 -->
        <div class="page-header min-height-300 border-radius-xl mt-4" id="channel-banner-img" style="
            background-image: url('');
            background-position-y: 50%;
          ">
          <span class="mask bg-gradient-primary opacity-6"></span>
        </div>
        <div class="card card-body blur shadow-blur mx-4 mt-n6 overflow-hidden">
          <div class="row gx-4">
            <div class="col-auto">
              <div class="avatar avatar-xl position-relative" id="channel-img">
                <!-- 채널 프로필이미지 자리 -->
              </div>
            </div>
            <div class="col-auto my-auto">
              <div class="h-100">
                <h5 class="mb-1" id="channel-name"></h5>
                <p class="mb-0 font-weight-bold text-sm" id="channel-subscribe-count"></p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-3">
              <div class="nav-wrapper position-relative end-0">
                <div class="nav-wrapper position-relative end-0 " style="display:flex; justify-content: flex-end;">
                  <button type="button" class="btn btn-outline-primary me-4" id="channel-subscribe-btn">구독하기</button>
                </div>
              </div>
              <div class="nav-wrapper position-relative end-0 " style="display:flex; justify-content: flex-end;">
                <button type="button" class="btn btn-outline-primary me-4" id="channel-put-btn" data-bs-toggle="modal"
                  data-bs-target="#exampleModal">정보수정</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid py-4" style="max-width: 1200px;">
        <div class="row">
          <div class="col-12 col-xl-4">
            <div class="card h-100">
              <h3 class="ms-3 mt-3">Channel Notices&nbsp;
                <i class="fa-regular fa-pen-to-square fa-sm" type="button" class="btn btn-primary"
                  id="notice-write-icon" data-bs-toggle="modal" data-bs-target="#writeNoticeModal"></i>
              </h3>
              <div class="ms-3 mt-3 mb-3" id="channel-notices">

              </div>
            </div>
          </div>
          <div class="col-12 col-xl-4">
            <div class="card h-100">
              <div class="card-header pb-0 p-3">
                <div class="row">
                  <div class="col-md-8 d-flex align-items-center">
                    <h6 class="mb-0">Channel Information</h6>
                  </div>
                  <div class="col-md-4 text-end">
                    <a href="javascript:;">
                      <i class="fas fa-user-edit text-secondary text-sm" data-bs-toggle="tooltip"
                        data-bs-placement="top" title="Edit Profile"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="card-body p-3">
                <p class="text-sm" id='channel-info-container'>
                  <!-- 채널 설명 -->
                  채널 설명이 들어갈 자리입니다.
                </p>
                <hr class="horizontal gray-light my-4" />
                <ul class="list-group">
                  <li class="list-group-item border-0 ps-0 text-sm" id="channel-created-at">
                    <strong class="text-dark">채널 생성일:</strong> &nbsp;
                  </li>
                  <li class="list-group-item border-0 ps-0 text-sm" id="channel-contact-email">
                    <strong class="text-dark">Contact:</strong> &nbsp;
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-12 col-xl-4">
            <div class="card h-100">
              <div class="card-header pb-0 p-3">
                <h6 class="mb-0">Donation Top5</h6>
              </div>
              <div class="card-body p-3">
                <ul class="list-group" id="donation-top5">
                  <!-- 후원 랭킹 자리 -->

                </ul>
              </div>
            </div>
          </div>

          <!-- 공지작성 모달 -->
          <div class="modal fade" id="writeNoticeModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">
                    공지 작성
                  </h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <label>본문</label>
                  <textarea class="form-control form-control-sm" id="notice-content-input" placeholder="내용을 입력해주세요."
                    aria-label=".form-control-sm example"></textarea>
                  <label>사진 첨부</label>
                  <input class="form-control form-control-sm col-10" id="notice-img-input" type="file"
                    placeholder="사진을 첨부해주세요." aria-label=".form-control-sm example" />
                  <button type="button" class="btn btn-primary" id="notice-image-upload-btn">사진 업로드</button>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    닫기
                  </button>
                  <button type="button" class="btn btn-primary" id="notice-write-btn" data-bs-dismiss="modal">
                    공지 작성
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- 공지작성 모달 끝 -->

          <!-- 수정 Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">채널 정보수정</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label>채널타이틀</label>
                        <textarea class="form-control form-control-sm" id="channel-name-input"
                            placeholder="변경할 채널명을 입력해주세요." aria-label=".form-control-sm example"></textarea>
                    </div>
                    <div class="mb-3">
                        <label>채널소개</label>
                        <textarea class="form-control form-control-sm" id="channel-introduction-input"
                            placeholder="채널소개 입력해주세요." aria-label=".form-control-sm example"></textarea>
                    </div>
                    <div class="mb-3">
                        <label>카테고리</label>
                        <div class="form-check">
                            <input class="form-checkCategory-input" type="checkbox" id="category-game" value="게임">
                            <label class="form-check-label" for="category-game">게임</label>
                        </div>
                        <div class="form-check">
                            <input class="form-checkCategory-input" type="checkbox" id="category-real-life" value="리얼라이프">
                            <label class="form-check-label" for="category-real-life">리얼라이프</label>
                        </div>
                        <div class="form-check">
                            <input class="form-checkCategory-input" type="checkbox" id="category-music" value="음악">
                            <label class="form-check-label" for="category-music">음악</label>
                        </div>
                        <div class="form-check">
                            <input class="form-checkCategory-input" type="checkbox" id="category-esports" value="e스포츠">
                            <label class="form-check-label" for="category-esports">e스포츠</label>
                        </div>
                        <div class="form-check">
                            <input class="form-checkCategory-input" type="checkbox" id="category-creative" value="크리에이티브">
                            <label class="form-check-label" for="category-creative">크리에이티브</label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputbannerImgUrl" class="form-label">배너이미지</label>
                        <label>사진 첨부</label>
                        <input class="form-control form-control-sm col-10" id="channel-img-input" type="file"
                            placeholder="사진을 첨부해주세요." aria-label=".form-control-sm example" />
                        <button type="button" class="btn btn-primary" id="channel-image-upload-btn">사진 업로드</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                 <button type="button" class="btn btn-primary" id="channel-write-btn" data-bs-dismiss="modal">
                    수정완료
                </button>
            </div>
        </div>
    </div>
</div>
          <!-- 수정 Modal 끝 -->

          <div class="col-12 mt-4">
            <div class="card mb-4">
              <div class="card-header pb-0 p-3">
                <h6 class="mb-1">다시보기</h6>
              </div>
              <div class="card-body p-3">
                <div class="row">
                  <div class="col-xl-3 col-md-6 mb-xl-0 mb-4">
                    <div class="card card-blog card-plain">
                      <div class="position-relative">
                        <a class="d-block shadow-xl border-radius-xl">
                          <img src="../img/home-decor-1.jpg" alt="img-blur-shadow"
                            class="img-fluid shadow border-radius-xl" />
                        </a>
                      </div>
                      <div class="card-body px-1 pb-0">
                        <p class="text-gradient text-dark mb-2 text-sm">
                          2023-08-19
                        </p>
                        <a href="javascript:;">
                          <h5>붙트스트랩 어려웡</h5>
                        </a>
                        <p class="mb-4 text-sm">
                          #부트스트랩 #코딩
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-3 col-md-6 mb-xl-0 mb-4">
                    <div class="card card-blog card-plain">
                      <div class="position-relative">
                        <a class="d-block shadow-xl border-radius-xl">
                          <img src="../img/home-decor-1.jpg" alt="img-blur-shadow"
                            class="img-fluid shadow border-radius-xl" />
                        </a>
                      </div>
                      <div class="card-body px-1 pb-0">
                        <p class="text-gradient text-dark mb-2 text-sm">
                          2023-08-19
                        </p>
                        <a href="javascript:;">
                          <h5>붙트스트랩 어려웡</h5>
                        </a>
                        <p class="mb-4 text-sm">
                          #부트스트랩 #코딩
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-3 col-md-6 mb-xl-0 mb-4">
                    <div class="card card-blog card-plain">
                      <div class="position-relative">
                        <a class="d-block shadow-xl border-radius-xl">
                          <img src="../img/home-decor-1.jpg" alt="img-blur-shadow"
                            class="img-fluid shadow border-radius-xl" />
                        </a>
                      </div>
                      <div class="card-body px-1 pb-0">
                        <p class="text-gradient text-dark mb-2 text-sm">
                          2023-08-19
                        </p>
                        <a href="javascript:;">
                          <h5>붙트스트랩 어려웡</h5>
                        </a>
                        <p class="mb-4 text-sm">
                          #부트스트랩 #코딩
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-3 col-md-6 mb-xl-0 mb-4">
                    <div class="card card-blog card-plain">
                      <div class="position-relative">
                        <a class="d-block shadow-xl border-radius-xl">
                          <img src="../img/home-decor-1.jpg" alt="img-blur-shadow"
                            class="img-fluid shadow border-radius-xl" />
                        </a>
                      </div>
                      <div class="card-body px-1 pb-0">
                        <p class="text-gradient text-dark mb-2 text-sm">
                          2023-08-19
                        </p>
                        <a href="javascript:;">
                          <h5>붙트스트랩 어려웡</h5>
                        </a>
                        <p class="mb-4 text-sm">
                          #부트스트랩 #코딩
                        </p>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="footer pt-3">
          <div class="container-fluid">
            <div class="row align-items-center justify-content-lg-between">
              <div class="col-lg-6 mb-lg-0 mb-4">
                <div class="copyright text-center text-sm text-muted text-lg-start">
                  ©
                  <script>
                    document.write(new Date().getFullYear());
                  </script>
                  , made with <i class="fa fa-heart"></i> by
                  <a href="https://www.creative-tim.com" class="font-weight-bold" target="_blank">Creative Tim</a>
                  for a better web.
                </div>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <div class="fixed-plugin">
      <a class="fixed-plugin-button text-dark position-fixed px-3 py-2">
        <i class="fa fa-cog py-2"> </i>
      </a>
      <div class="card shadow-lg">
        <div class="card-header pb-0 pt-3">
          <div class="float-start">
            <h5 class="mt-3 mb-0">Soft UI Configurator</h5>
            <p>See our dashboard options.</p>
          </div>
          <div class="float-end mt-4">
            <button class="btn btn-link text-dark p-0 fixed-plugin-close-button">
              <i class="fa fa-close"></i>
            </button>
          </div>
          <!-- End Toggle Button -->
        </div>
        <hr class="horizontal dark my-1" />
        <div class="card-body pt-sm-3 pt-0">
          <!-- Sidebar Backgrounds -->
          <div>
            <h6 class="mb-0">Sidebar Colors</h6>
          </div>
          <a href="javascript:void(0)" class="switch-trigger background-color">
            <div class="badge-colors my-2 text-start">
              <span class="badge filter bg-gradient-primary active" data-color="primary"
                onclick="sidebarColor(this)"></span>
              <span class="badge filter bg-gradient-dark" data-color="dark" onclick="sidebarColor(this)"></span>
              <span class="badge filter bg-gradient-info" data-color="info" onclick="sidebarColor(this)"></span>
              <span class="badge filter bg-gradient-success" data-color="success" onclick="sidebarColor(this)"></span>
              <span class="badge filter bg-gradient-warning" data-color="warning" onclick="sidebarColor(this)"></span>
              <span class="badge filter bg-gradient-danger" data-color="danger" onclick="sidebarColor(this)"></span>
            </div>
          </a>
          <!-- Sidenav Type -->
          <div class="mt-3">
            <h6 class="mb-0">Sidenav Type</h6>
            <p class="text-sm">Choose between 2 different sidenav types.</p>
          </div>
          <div class="d-flex">
            <button class="btn bg-gradient-primary w-100 px-3 mb-2 active" data-class="bg-transparent"
              onclick="sidebarType(this)">
              Transparent
            </button>
            <button class="btn bg-gradient-primary w-100 px-3 mb-2 ms-2" data-class="bg-white"
              onclick="sidebarType(this)">
              White
            </button>
          </div>
          <p class="text-sm d-xl-none d-block mt-2">
            You can change the sidenav type just on desktop view.
          </p>
          <!-- Navbar Fixed -->
          <div class="mt-3">
            <h6 class="mb-0">Navbar Fixed</h6>
          </div>
          <div class="form-check form-switch ps-0">
            <input class="form-checkCategory-input mt-1 ms-auto" type="checkbox" id="navbarFixed" onclick="navbarFixed(this)" />
          </div>
          <hr class="horizontal dark my-sm-4" />
        </div>
      </div>
    </div>
    </div>
    <!--   Core JS Files   -->
    <script src="../js/core/popper.min.js"></script>
    <script src="../js/core/bootstrap.min.js"></script>
    <script src="../js/plugins/perfect-scrollbar.min.js"></script>
    <script src="../js/plugins/smooth-scrollbar.min.js"></script>
    <script>
      var win = navigator.platform.indexOf('Win') > -1;
      if (win && document.querySelector('#sidenav-scrollbar')) {
        var options = {
          damping: '0.5',
        };
        Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
      }
    </script>
    <!-- Github buttons -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="../js/soft-ui-dashboard.min.js?v=1.0.7"></script>
</body>

</html>