<!--
=========================================================
* Soft UI Dashboard - v1.0.7
=========================================================

* Product Page: https://www.creative-tim.com/product/soft-ui-dashboard
* Copyright 2023 Creative Tim (https://www.creative-tim.com)
* Licensed under MIT (https://www.creative-tim.com/license)
* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
      http-equiv="Content-Security-Policy"
      content="upgrade-insecure-requests"
    />
    <link rel="apple-touch-icon" sizes="76x76" href="../img/apple-icon.png" />
    <%-include('includes/head.ejs') %>
    <!--     Fonts and icons     -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700"
      rel="stylesheet"
    />
    <!-- Nucleo Icons -->
    <link href="../css/nucleo-icons.css" rel="stylesheet" />
    <link href="../css/nucleo-svg.css" rel="stylesheet" />
    <!-- Font Awesome Icons -->
    <script
      src="https://kit.fontawesome.com/42d5adcbca.js"
      crossorigin="anonymous"
    ></script>
    <link href="../css/nucleo-svg.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link
      id="pagestyle"
      href="../css/soft-ui-dashboard.css?v=1.0.7"
      rel="stylesheet"
    />
    <link href="/css/streaming.css" rel="stylesheet" />
    <!-- Nepcha Analytics (nepcha.com) -->
    <!-- Nepcha is a easy-to-use web analytics. No cookies and fully compliant with GDPR, CCPA and PECR. -->
    <script
      defer
      data-site="YOUR_DOMAIN_HERE"
      src="https://api.nepcha.com/js/nepcha-analytics.js"
    ></script>
    <script
      src="https://kit.fontawesome.com/8691ffe7bb.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
    <script defer src="/js/streaming-control.js"></script>

    <script src="https://cdn.bootcss.com/flv.js/1.5.0/flv.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
  </head>

  <body class="g-sidenav-show bg-gray-100">
    <!-- side navbar start -->
    <%-include('includes/side-navbar.ejs') %>
    <!-- side navbar end -->
    <div
      class="main-content position-relative bg-gray-100 max-height-vh-100 h-100"
    >
      <!-- header Navbar start -->
      <%-include('includes/header-navbar.ejs') %>
      <!-- header Navbar end -->
      <div class="container-fluid">
        <div class="row">
          <div class="card col-9">
            <div id="media-container">
              <img
                src="https://blog.kakaocdn.net/dn/cu6FRS/btrdswyTELB/zgpbDlAoEaTFcCXf2LI0Jk/img.png"
                class="card-img-top"
                alt=""
              />
            </div>

            <script></script>

            <div class="card card-body blur shadow-blur overflow-hidden">
              <div class="row gx-4">
                <div class="col-auto">
                  <div class="avatar avatar-xl position-relative channel-img">
                    <!-- 채널이미지자리 -->
                  </div>
                </div>
                <div class="col-auto my-auto">
                  <div class="h-100">
                    <h5 class="mb-1 live-title"></h5>
                    <p class="mb-0 font-weight-bold text-sm channel-name"></p>
                  </div>
                </div>
                <div
                  class="col-lg-4 col-md-6 my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-3"
                >
                  <div
                    class="nav-wrapper position-relative end-0"
                    style="display: flex; justify-content: flex-end"
                  >
                    <div id="user-count" class="mx-2"></div>

                    <button
                      type="button"
                      class="btn btn-primary"
                      id="live-modal-btn"
                      data-bs-toggle="modal"
                      data-bs-target="#liveStartModal"
                    >
                      라이브 시작하기
                    </button>

                    <button
                      type="button"
                      class="btn btn-primary"
                      id="live-update-modal-btn"
                      data-bs-toggle="modal"
                      style="display: none"
                      data-bs-target="#liveUpdateModal"
                    >
                      정보 변경
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- 스트림 키 표시 -->
            <div id="live-key" class="mx-12"></div>
          </div>
          <!-- 방송시작 모달 -->
          <div
            class="modal fade"
            id="liveStartModal"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">
                    라이브 시작하기
                  </h1>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <label>라이브 제목</label>
                  <input
                    class="form-control form-control-sm"
                    id="live-title-input"
                    type="text"
                    placeholder="변경할 제목을 입력해주세요."
                    aria-label=".form-control-sm example"
                  />
                  <label>태그 입력 ( 쉼표(,)로 구분해주세요 )</label>
                  <input
                    class="form-control form-control-sm"
                    id="live-tag-input"
                    type="text"
                    placeholder="태그를 입력해주세요."
                    aria-label=".form-control-sm example"
                  />
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    닫기
                  </button>
                  <button
                    type="button"
                    class="btn btn-primary"
                    id="live-start-btn"
                    data-bs-dismiss="modal"
                  >
                    방송 시작
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- 방송시작 모달 끝 -->
          <!-- 방송정보 변경 모달 -->
          <div
            class="modal fade"
            id="liveUpdateModal"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">
                    라이브 정보 변경
                  </h1>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <label>라이브 제목</label>
                  <input
                    class="form-control form-control-sm"
                    id="update-title-input"
                    type="text"
                    placeholder="변경할 제목을 입력해주세요."
                    aria-label=".form-control-sm example"
                  />
                  <label>태그 변경 ( 쉼표(,)로 구분해주세요 )</label>
                  <input
                    class="form-control form-control-sm"
                    id="update-tag-input"
                    type="text"
                    placeholder="태그를 입력해주세요."
                    aria-label=".form-control-sm example"
                  />
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    닫기
                  </button>
                  <button
                    type="button"
                    class="btn btn-primary"
                    id="update-save-btn"
                    data-bs-dismiss="modal"
                  >
                    수정
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- 정보변경 모달 끝 -->
          <div
            class="card col-3 chat-list"
            style="
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              height: var(--bs-card-height);
            "
          >
            <div
              id="chat-container"
              class="flex-fill"
              style="height: 500px; overflow-y: scroll"
            >
              <p style="margin: 1px; padding: 0px; font-size: 14px">&nbsp;</p>
            </div>
            <div class="input-group mb-3">
              <input
                type="text"
                id="chat-input"
                style="height: 40px"
                class="form-control"
                placeholder="채팅을 입력하세요"
                aria-label="Recipient's username"
                aria-describedby="button-addon2"
              />
              <button
                class="btn btn-outline-secondary"
                style="height: 40px"
                type="button"
                id="button-addon2"
              >
                전송
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="fixed-plugin">
      <a class="fixed-plugin-button text-dark position-fixed px-3 py-2">
        <i class="fa fa-cog py-2"> </i>
      </a>
      <div class="card shadow-lg">
        <div class="card-header pb-0 pt-3">
          <div class="float-start">
            <h5 class="mt-3 mb-0">Soft UI Configurator</h5>
            <p>See our dashboard options.</p>
          </div>
          <div class="float-end mt-4">
            <button
              class="btn btn-link text-dark p-0 fixed-plugin-close-button"
            >
              <i class="fa fa-close"></i>
            </button>
          </div>
          <!-- End Toggle Button -->
        </div>
        <hr class="horizontal dark my-1" />
        <div class="card-body pt-sm-3 pt-0">
          <!-- Sidebar Backgrounds -->
          <div>
            <h6 class="mb-0">Sidebar Colors</h6>
          </div>
          <a href="javascript:void(0)" class="switch-trigger background-color">
            <div class="badge-colors my-2 text-start">
              <span
                class="badge filter bg-gradient-primary active"
                data-color="primary"
                onclick="sidebarColor(this)"
              ></span>
              <span
                class="badge filter bg-gradient-dark"
                data-color="dark"
                onclick="sidebarColor(this)"
              ></span>
              <span
                class="badge filter bg-gradient-info"
                data-color="info"
                onclick="sidebarColor(this)"
              ></span>
              <span
                class="badge filter bg-gradient-success"
                data-color="success"
                onclick="sidebarColor(this)"
              ></span>
              <span
                class="badge filter bg-gradient-warning"
                data-color="warning"
                onclick="sidebarColor(this)"
              ></span>
              <span
                class="badge filter bg-gradient-danger"
                data-color="danger"
                onclick="sidebarColor(this)"
              ></span>
            </div>
          </a>
          <!-- Sidenav Type -->
          <div class="mt-3">
            <h6 class="mb-0">Sidenav Type</h6>
            <p class="text-sm">Choose between 2 different sidenav types.</p>
          </div>
          <div class="d-flex">
            <button
              class="btn bg-gradient-primary w-100 px-3 mb-2 active"
              data-class="bg-transparent"
              onclick="sidebarType(this)"
            >
              Transparent
            </button>
            <button
              class="btn bg-gradient-primary w-100 px-3 mb-2 ms-2"
              data-class="bg-white"
              onclick="sidebarType(this)"
            >
              White
            </button>
          </div>
          <p class="text-sm d-xl-none d-block mt-2">
            You can change the sidenav type just on desktop view.
          </p>
          <!-- Navbar Fixed -->
          <div class="mt-3">
            <h6 class="mb-0">Navbar Fixed</h6>
          </div>
          <div class="form-check form-switch ps-0">
            <input
              class="form-check-input mt-1 ms-auto"
              type="checkbox"
              id="navbarFixed"
              onclick="navbarFixed(this)"
            />
          </div>
          <hr class="horizontal dark my-sm-4" />
        </div>
      </div>
    </div>
    <!--   Core JS Files   -->
    <script src="../js/core/popper.min.js"></script>
    <script src="../js/core/bootstrap.min.js"></script>
    <script src="../js/plugins/perfect-scrollbar.min.js"></script>
    <script src="../js/plugins/smooth-scrollbar.min.js"></script>
    <script>
      var win = navigator.platform.indexOf('Win') > -1;
      if (win && document.querySelector('#sidenav-scrollbar')) {
        var options = {
          damping: '0.5',
        };
        Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
      }
    </script>
    <!-- Github buttons -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="../js/soft-ui-dashboard.min.js?v=1.0.7"></script>
  </body>
</html>
